/vendor
/alflearning/alflearning-cms/application/logs/*.php
/alflearning/alflearning-cms/pma
*.log

/secure_report/*.md
/secure_report/*.pdf
/secure_report/body-*
/secure_report/edu*
/secure_report/additional
/alfproduct/smarty/templates_c
/alfproduct/module/vendor